.root {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 7.5rem 10rem 0rem 10rem;
  background-color: #2b2b2b;
}

.titleSection {
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 40px;
}

.skillsContainer {
  margin-top:60px;
}

.mainTitle {
  font-size: 2.75rem;
}

.contentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.skillsAndContactsContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.skillsList {
  column-count: 2;
  column-gap: 20px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input {
  width: 100%;
  margin-bottom: 20px;
}

.input input {
  background-color: #fff;
  border-radius: 8px;
  border-color: #ffffff;
  transition: background-color 0.3s ease-in-out;
}

.input input:focus {
  background-color: #fff;
  border-color: #ffffff;
}

.textarea {
  width: 100%;
  margin-top: 8px;
  padding: 16.5px 14px;
  font-size: 1rem;
  line-height: 1.4375em;
  border-radius: 8px;
  border: 1px solid #dfe9ee;
  resize: none;
  box-sizing: border-box;
  background-color: #fff;
  transition: border-color 0.3s ease-in-out;
  font-family: inherit;
}

.textarea:focus {
  outline: none;
  background-color: #fff;
  border-color: #fff;
  transition: background-color 0.4s ease;
}

.linkItems {
  font-size: 12px;
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  transition: color ease 0.4s;
}

.linkItems:hover {
  color: #fefefe;
  transition: color ease 0.4s;
}


@media (max-width: 1200px) {
  .root {
    padding: 7rem 6rem 0rem 6rem;
  }
}

@media (max-width: 900px) {
  .root {
    padding: 5rem 4rem 0rem 4rem;
  }

  .mainTitle {
    font-size: 2.25rem;
  }

  .contentContainer {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .root {
    padding: 4rem 2rem 0rem 2rem;
  }

  .formContainer {
    width: 100%;
  }

  .skillsList {
    column-count: 1;
  }
  
  .mainTitle {
    font-size: 1.75rem;
  }
}